{% extends "PiEsprit/MessageBundle/layout.html.twig" %}

{% block content %}
    {% block slider %}
    {% endblock slider %}
    {% block fos_user_content %}
        <div class="tab-content">
            <div class="tab-pane active" id="home">
                <div class="tab-pane" id="1">
                    <ul class="nav nav-tabs">
                        <li ><a href="{{ path('fos_user_profile_show') }}" data-toggle="tab">Tableau de bord</a></li>
                        <li><a href="{{path ('Mes_annonces')   }}" data-toggle="tab">Mes annonces</a></li>
                        <li><a href="{{path ('Mes_reservations')   }}" data-toggle="tab">Mes reservations</a></li>
                        <li class="active"><a href="{{path ('fos_message_inbox')   }}" data-toggle="tab">mes messages</a></li>
                        <li ><a href="{{ path('fos_user_profile_edit') }}" data-toggle="tab">Mes informations</a></li>


                    </ul>


                </div>
            </div>
        </div>




------------------------------


    {% endblock fos_user_content %}
{% endblock content %}