{% extends "PiEspritUserBundle::layout.html.twig" %}

{% block content %}
    {% block slider %}
    {% endblock slider %}
    {# {% include "@FOSUser/Profile/show_content.html.twig" %} #}
    <div class="tab-content">
        <div class="tab-pane active" id="home">
            <div class="tab-pane" id="1">
                <ul class="nav nav-tabs">
                    <li ><a href="{{ path('fos_user_profile_show') }}" data-toggle="tab">Tableau de bord</a></li>
                    <li><a href="{{path ('Mes_annonces')   }}" data-toggle="tab">Mes annonces</a></li>
                    <li class="active"><a href="{{path ('Mes_reservations')   }}" data-toggle="tab">Mes reservations</a></li>
                    <li><a href="{{path ('Mes_reservations')   }}" data-toggle="tab">Messages</a></li>
                    <li><a href="{{ path('fos_user_profile_edit') }}" data-toggle="tab">Mes informations</a></li>


                </ul>

                <div id="myTabContent" class="tab-content">


                    <div class="tab-pane fade active in" id="home">
                        <p></p>
                    </div>































                    <div class="tab-pane fade" id="annonces">
                        <p>Food truck fixie locavore, accusamus
                            mcsweeney's marfa nulla single-origin cof
                            fee squid. Exercitation +1 labore velit, blog sartor
                            ial PBR leggings next level wes anderson artisan four loko farm
                            -to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
                    </div>


                    <div class="tab-pane fade" id="reservations">
                        <p>
                            aaaaaaaaaaaaa
                            aaaaaaaaaaaaaaa
                            aaaaaaaaaaaa
                        </p>
                    </div>



                </div>
            </div>
        </div>
    </div>

{% endblock %}