{% extends "CovoiturageBundle:Covoiturage:Layout.html.twig" %}
{% block navbar %}
    <ul>
        <li><a href="{{ path('Accueil') }}" title="Accueil">Accueil</a></li>
        <li><a href="{{ path('Trajets') }}" title="Trajets">Tous les trajets</a></li>
        <li  class="active"><a href="{{ path('About') }}" title="About">About</a></li>
        <li><a href="{{ path('Contact') }}" title="Contact">Contact</a></li>
        <li><a href="{{ path('Promos') }}" title="Promos">F.A.Q</a></li>
        <li class="sale-item"><a href="#" title="Sale">Promos</a></li>
    </ul>
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>Jumbotron</h1>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>

    <div class="jumbotron">
    <p>
    <h3>Un module spécialisé dans le covoiturage</h3>
    Bien décidée à faire du covoiturage son cheval de bataille pour la rentrée 2013/2014, l'APELTHT a souhaité investir dans quelque chose de fiable et facile à gérer. Pour ce faire il était obligatoire de revoir en totalité notre site internet et de faire l'acquisition d'un module covoiturage ayant déjà fait ses preuves.
    C'est chose faite. Nous espérons que le nouveau site vous plaira et que le module covoiturage choisi répondra à la majorité de vos attentes.
    <h3>Un accès sécurisé</h3>
    Protection des données, sécurité, fiabilité du service. Nos enfants sont ce qui est le plus important. Nous ne pouvons nous permettre de laisser n'importe quelle personne extérieure au lycée avoir accès au covoiturage et par là même aux données que vous renseignerez lorsque vous proposerez ou demanderez du covoiturage. C'est pourquoi il est indispensable de créer un compte avant de pouvoir accéder à ce service. Ce compte vous servira également pour déposer des petites annonces, lire les comptes rendus de conseils de classe, vous inscrire à des événements organisés par l'association (repas, bénévolat, salons, etc...)
     <h3>Un service gratuit</h3>
    Ce service, proposé par l'APELTHT est bien évidemment gratuit. Il ne saurait être question de vous faire payer quoi que ce soit. Seule l'adhésion à l'association est requise. Ce sera à vous ensuite de définir avec les personnes qui vous contacteront, les modalités de votre covoiturage. Nous ne faisons que vous aider à vous mettre en relation.
    N'hésitez pas à poster une annonce. Il faut débuter un jour et le premier pas est toujours le plus difficile à faire. Nous espérons que vous serez nombreux à utiliser ce service.
    Nous vous souhaitons un très joli covoiturage avec de belles rencontres à la clé !
        </p>
    </div>

    <img src="https://dxxbxu0f802py.cloudfront.net/wp-content/uploads/2016/07/19083907/Global_Map_01-1024x512.jpg" alt="Smiley face" >


{% endblock %}