{% extends "CovoiturageBundle:Covoiturage:Layout.html.twig" %}
{% block navbar %}
<ul>
    <li><a href="{{ path('Accueil') }}" title="Accueil">Accueil</a></li>
    <li><a href="{{ path('Trajets') }}" title="Trajets">Tous les trajets</a></li>
    <li><a href="{{ path('About') }}" title="About">About</a></li>
    <li class="active"><a href="{{ path('Contact') }}" title="Contact">Contact</a></li>
    <li><a href="{{ path('FAQ') }}" title="FAQ">F.A.Q</a></li>
    <li class="sale-item"><a href="{{ path('Promos') }}" title="Promos">Promos</a></li>
</ul>
{% endblock %}

{% block slider %}
    <div align="center">
    <img src="http://www.luxus-india.com/wp-content/uploads/2014/10/contact-us-banner.jpg" alt="Smiley face" align="center" >
    </div>
{% endblock %}


{% block content %}



    <form class="form-horizontal">
        <fieldset>
            <legend>Contact</legend>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Nom</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputPassword" placeholder="nom">

                </div>
            </div>
            <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Desciption</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" id="textArea"></textarea>
                    <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                </div>
            </div>


            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}