{% extends "CovoiturageBundle:Covoiturage:Layout.html.twig" %}
{% block navbar %}
    <ul>
        <li><a href="{{ path('Accueil') }}" title="Accueil">Accueil</a></li>
        <li><a href="{{ path('Trajets') }}" title="Trajets">Tous les trajets</a></li>
        <li><a href="{{ path('About') }}" title="About">About</a></li>
        <li class="active"><a href="{{ path('Contact') }}" title="Contact">Contact</a></li>
        <li><a href="{{ path('FAQ') }}" title="FAQ">F.A.Q</a></li>
        <li class="sale-item"><a href="{{ path('Promos') }}" title="Promos">Promos</a></li>
    </ul>
{% endblock %}
{% block slider %}
{% endblock %}
{% block content %}

    <ul class="nav nav-pills">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li class="disabled"><a href="#">Disabled</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Dropdown <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </li>
    </ul>

{% endblock %}