{% extends "CovoiturageBundle:Covoiturage:Layout.html.twig" %}
{% block navbar %}
<ul>
    <li><a href="{{ path('Accueil') }}" title="Accueil">Accueil</a></li>
    <li><a href="{{ path('Trajets') }}" title="Trajets">Tous les trajets</a></li>
    <li><a href="{{ path('About') }}" title="About">About</a></li>
    <li><a href="{{ path('Contact') }}" title="Contact">Contact</a></li>
    <li><a href="{{ path('FAQ') }}" title="FAQ">F.A.Q</a></li>
    <li class="sale-item"><a href="{{ path('Promos') }}" title="Promos">Promos</a></li>
</ul>
{% endblock %}

{% block slider %}
    <!-- Begin Shell -->
    <div class="shell">
        <ul class="slider-items">
            <li>
                <img src="{{asset ('css/images/slide-img4.jpg')}}" alt="Slide Image" />
                <div class="slide-entry">
                    <h2><span></span></h2>
                    <h6></h6>
                    <!--<a href="#" class="button" title="Buy now"><span>Buy now</span></a> -->
                </div>
            </li>

        </ul>
        <div class="cl">&nbsp;</div>
        <div class="slider-nav">

        </div>
    </div>
{% endblock slider %}

{% block content %}


    <p>Promos Ici</p>

{% endblock %}