{% extends "CovoiturageBundle:Covoiturage:Layout.html.twig" %}
{% block navbar %}
    <ul>
        <li><a href="{{ path('Accueil') }}" title="Accueil">Accueil</a></li>
        <li class="active"><a href="{{ path('Trajets') }}" title="Trajets">Tous les trajets</a></li>
        <li><a href="{{ path('About') }}" title="About">About</a></li>
        <li><a href="{{ path('Contact') }}" title="Contact">Contact</a></li>
        <li><a href="{{ path('FAQ') }}" title="FAQ">F.A.Q</a></li>
        <li class="sale-item"><a href="{{ path('Promos') }}" title="Promos">Promos</a></li>
    </ul>
{% endblock %}

{% block slider %}
    <div align="center">
        <img src="http://uvmbored.com/wp-content/uploads/2016/10/banner_location_map.jpg" alt="Smiley face" align="center" >
    </div>
{% endblock %}


{% block content %}



        <div class="post">
            <h2>Trajet:  tunis - ariana!</h2>
            <img src="{{asset ('css/images/post-img.jpg')   }}" alt="Post Image" />
            <>Lestibulum vel libero posuere velit faucibus pellentesque. Duis eleifend libero vitae justo porta eget interdum ligula porta. Fusce tristique, ante sit amet hendrerit suscipit, leo metus vehicula sem, eget scelerisque felis leo id magna. Proin imperdiet ullamcorper tellus sed consectetur. Aliquam erat volutpat. Integer orci urna, posuere sed bibendum id, tincidunt non augue.
            Cras mauris sem, posuere vel semper sed, condimentum non dui. Suspendisse vestibulum ligula eget urna posuere sagittis. Suspendisse sed nisl massa.
                <br><br><a class="btn btn-primary btn-lg">Reserver</a></p>
            </p>
            <div class="cl">&nbsp;</div>
        </div>

        <div class="post">
            <h2>Ariana - Tunis!</h2>
            <img src="{{asset ('css/images/post-img.jpg')   }}" alt="Post Image" />
            <>Lestibulum vel libero posuere velit faucibus pellentesque. Duis eleifend libero vitae justo porta eget interdum ligula porta. Fusce tristique, ante sit amet hendrerit suscipit, leo metus vehicula sem, eget scelerisque felis leo id magna. Proin imperdiet ullamcorper tellus sed consectetur. Aliquam erat volutpat. Integer orci urna, posuere sed bibendum id, tincidunt non augue.
            Cras mauris sem, posuere vel semper sed, condimentum non dui. Suspendisse vestibulum ligula eget urna posuere sagittis. Suspendisse sed nisl massa.
                <br><br><a class="btn btn-primary btn-lg">Reserver</a></p>
            </p>
            <div class="cl">&nbsp;</div>
        </div>

        <div class="post">
            <h2>Ben arous  -  a3ouh!</h2>
            <img src="{{asset ('css/images/post-img.jpg')   }}" alt="Post Image" />
            Lestibulum vel libero posuere velit faucibus pellentesque. Duis eleifend libero vitae justo porta eget interdum ligula porta. Fusce tristique, ante sit amet hendrerit suscipit, leo metus vehicula sem, eget scelerisque felis leo id magna. Proin imperdiet ullamcorper tellus sed consectetur. Aliquam erat volutpat. Integer orci urna, posuere sed bibendum id, tincidunt non augue.
            Cras mauris sem, posuere vel semper sed, condimentum non dui. Suspendisse vestibulum ligula eget urna posuere sagittis. Suspendisse sed nisl massa.
                <br><br><a class="btn btn-primary btn-lg">Reserver</a></p>
            <div class="cl">&nbsp;</div>
        </div>




{% endblock %}