{% extends '@PiEspritCovoiturage/Covoiturage/Layout.html.twig' %}


{% block content %}
{% block body %}
    <h1>Annonces list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Depart</th>
                <th>Arrivee</th>
                <th>Heuredepart</th>
                <th>Date</th>
                <th>Nbplaces</th>
                <th>Prix</th>
                <th>Disponible</th>
                <th>Bagages</th>
                <th>Animal</th>
                <th>Fumer</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td><a href="{{ path('Annonce_show', { 'id': annonce.id }) }}">{{ annonce.id }}</a></td>
                <td>{{ annonce.depart }}</td>
                <td>{{ annonce.arrivee }}</td>
                <td>{{ annonce.heuredepart }}</td>
                <td>{% if annonce.date %}{{ annonce.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ annonce.nbplaces }}</td>
                <td>{{ annonce.prix }}</td>
                <td>{% if annonce.disponible %}Yes{% else %}No{% endif %}</td>
                <td>{% if annonce.bagages %}Yes{% else %}No{% endif %}</td>
                <td>{% if annonce.animal %}Yes{% else %}No{% endif %}</td>
                <td>{% if annonce.fumer %}Yes{% else %}No{% endif %}</td>
                <td>{{ annonce.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('Annonce_show', { 'id': annonce.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('Annonce_edit', { 'id': annonce.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('Annonce_new') }}">Create a new annonce</a>
        </li>
    </ul>
    <div class="navigation" text-center>
        {{ knp_pagination_render(annonces) }}
    </div>
{% endblock %}
{% endblock content %}