{% extends "PiEspritUserBundle:Profile:show.html.twig" %}



    {% block profile %}
{% block body %}
    <h1>Voiture creation</h1>




    {{ form_start(form) }}
        matricule{{ form_widget(form.matricule) }}<br>
        modele{{ form_widget(form.modele) }}<br>
        marque{{ form_widget(form.marque) }}<br>
        photo{{ form_widget(form.photo) }}<br>
        nombreplaces{{ form_widget(form.nombreplaces) }}<br>
        puissance{{ form_widget(form.puissance) }}<br>
        imagePath{{ form_widget(form.imagePath) }}<br>
        description{{ form_widget(form.description) }}<br>
        proprietaire{{ form_widget(form.proprietaire, {value :'session'} )}}<br>
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('voiture_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
{% endblock profile %}
