{% extends "PiEspritUserBundle:Profile:show.html.twig" %}



    {% block profile %}
{% block body %}
    <h1>Voiture</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voiture.id }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ voiture.matricule }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ voiture.modele }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ voiture.marque }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ voiture.imageName }}</td>
            </tr>
            <tr>
                <th>Nombreplaces</th>
                <td>{{ voiture.nombreplaces }}</td>
            </tr>
            <tr>
                <th>Puissance</th>
                <td>{{ voiture.puissance }}</td>
            </tr>
            <tr>
                <th>Imagepath</th>


                <img src="{{asset ('img/'~ voiture.imageName)}}" class="img-rounded" alt="Cinque Terre" width="304" height="236" />

                {#<td>{% if voiture.imageFile %}{{ voiture.imageFile|join(', ') }}{% endif %}</td>#}
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ voiture.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('voiture_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('voiture_edit', { 'id': voiture.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
{% endblock profile %}
