{% extends "PiEspritCovoiturageBundle:Covoiturage:Layout.html.twig" %}
{% block navbar %}
    <ul>
        <li><a href="{{ path('Accueil') }}" title="Accueil">Accueil</a></li>
        <li><a href="{{ path('Trajets') }}" title="Trajets">Tous les trajets</a></li>
        <li><a href="{{ path('About') }}" title="About">About</a></li>
        <li><a href="{{ path('Contact') }}" title="Contact">Contact</a></li>
        <li><a href="{{ path('Promos') }}" title="Promos">F.A.Q</a></li>
        <li class="sale-item"><a href="#" title="Sale">Promos</a></li>
    </ul>
{% endblock %}


{% block slider %}
    <div align="center">
        <img src="http://www.fundsupermart.com/main/articleFiles/webarticles/10006/SG/banner.jpg" alt="Smiley face" align="center" >
    </div>
{% endblock %}


{% block content %}



    <div class="row">
        <div class="col-sm-7"><form class="form-horizontal">
                <fieldset>
                    <legend>Nouveau compte</legend>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="nom">

                        </div>

                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">nom</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputEmail" placeholder="nom">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">prenom</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputEmail" placeholder="prenom">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">age</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputEmail" placeholder="age">
                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>


        <div class="col-sm-5">


            <form class="form-horizontal">
                <fieldset>
                    <legend>Authentification</legend>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="nom">

                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </div>
                    </div>
                </fieldset>
            </form>


        </div>
    </div>












    <br>
    <br>


{% endblock %}