{% extends "PiEspritCovoiturageBundle:Covoiturage:Layout.html.twig" %}
{% block navbar %}
    <ul>
        <li><a href="{{ path('Accueil') }}" title="Accueil">Accueil</a></li>
        <li><a href="{{ path('Trajets') }}" title="Trajets">Tous les trajets</a></li>
        <li><a href="{{ path('About') }}" title="About">About</a></li>
        <li class="active"><a href="{{ path('Contact') }}" title="Contact">Contact</a></li>
        <li><a href="{{ path('FAQ') }}" title="FAQ">F.A.Q</a></li>
        <li class="sale-item"><a href="{{ path('Promos') }}" title="Promos">Promos</a></li>
    </ul>
{% endblock %}


{% block slider %}
    <div align="center">
        <img src="https://s3.amazonaws.com/files.enjin.com/1340/modules/forum/attachments/test_1407984950.png" alt="Smiley face" align="center" >
    </div>
{% endblock %}


{% block content %}

    <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">Profile</a></li>
        <li><a href="{{asset ('#annonces')   }}" data-toggle="tab">Mes annonces</a></li>
        <li><a href="{{asset ('#reservations')   }}" data-toggle="tab">Mes reservations</a></li>
        <li><a href="#annonces2" data-toggle="tab">Mes annonces</a></li>


    </ul>
    <div id="myTabContent" class="tab-content">


        <div class="tab-pane fade active in" id="home">
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>


        <div class="tab-pane fade" id="annonces">
            <p>Food truck fixie locavore, accusamus
                mcsweeney's marfa nulla single-origin cof
                fee squid. Exercitation +1 labore velit, blog sartor
                ial PBR leggings next level wes anderson artisan four loko farm
                -to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
        </div>


        <div class="tab-pane fade" id="reservations">
            <p>
                aaaaaaaaaaaaa
                aaaaaaaaaaaaaaa
                aaaaaaaaaaaa
            </p>
        </div>



    </div>

{% endblock %}